@inject SignInManager<IdentityUser> signInManager;

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MovieLand</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">MovieLand</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @if (signInManager.IsSignedIn(User) && User.IsInRole("Administrator"))
                    {
                        <li><a asp-area="" asp-controller="Home" asp-action="Index"><span class="glyphicon glyphicon-home"></span> Home</a></li>
                        <li><a asp-area="" asp-controller="Account" asp-action="List"><span class="glyphicon glyphicon-user"></span> Users</a></li>
                        <li><a asp-area="" asp-controller="Customer" asp-action="Index"><span class="glyphicon glyphicon-star"></span> Customers</a></li>
                        <li><a asp-area="" asp-controller="Movie" asp-action="Index"><span class="glyphicon glyphicon-knight"></span> Movies</a></li>
                        <li><a asp-area="" asp-controller="Home" asp-action="Sales"><span class="glyphicon glyphicon-gift"></span> Sale Updates</a></li>
                        <li><a asp-area="" asp-controller="Order" asp-action="Index"><span class="glyphicon glyphicon-usd"></span> Orders</a></li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                <span class="glyphicon glyphicon-stats"></span> Order Statistics
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a asp-area="" asp-controller="Order" asp-action="Statistics">Join And Group</a></li>
                                <li><a asp-area="" asp-controller="Order" asp-action="Graphs">Graphs</a></li>
                            </ul>
                        </li>

                    }
                    else
                    {
                        <li><a asp-area="" asp-controller="Home" asp-action="Index"><span class="glyphicon glyphicon-home"></span> Home</a></li>                        
                        <li><a asp-area="" asp-controller="Account" asp-action="DetailsForUser"><span class="glyphicon glyphicon-user"></span> My User</a></li>
                        <li><a asp-area="" asp-controller="Customer" asp-action="CreateForUser"><span class="glyphicon glyphicon-star"></span> Become A Customer</a></li>
                        <li><a asp-area="" asp-controller="Customer" asp-action="DetailsForUser"><span class="glyphicon glyphicon-list"></span> My Details</a></li>
                        <li><a asp-area="" asp-controller="Movie" asp-action="Index"><span class="glyphicon glyphicon-knight"></span> Movies</a></li>
                        <li><a asp-area="" asp-controller="Home" asp-action="Sales"><span class="glyphicon glyphicon-gift"></span> Sale Updates</a></li>
                        if (signInManager.IsSignedIn(User))
                        {
                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                    <span class="glyphicon glyphicon-heart"></span> Recommendations
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a asp-area="" asp-controller="Recommendations" asp-action="RecommendationsByMovies">By Movies</a></li>
                                    <li><a asp-area="" asp-controller="Recommendations" asp-action="RecommendationsByUsers">By Users</a></li>
                                </ul>
                            </li>
                        }
                    }
                </ul>

                <!-- this is the identity part of the layout -->
                <ul class="nav navbar-nav" style="float:right;">
                    @if (signInManager.IsSignedIn(User))
                    {
                        //if the user is signed inhide the login and display the logout
                        <li>
                            <form method="post" asp-controller="Account" asp-action="Logout">
                                <button type="submit" class="btn btn-danger navbar-btn" style="width:auto">
                                    Logout
                                </button>
                            </form>
                        </li>

                    }
                    else
                    {
                        <li><a asp-area="" asp-controller="Account" asp-action="Register"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                        <li><a asp-area="" asp-controller="Account" asp-action="Login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                        <li><a asp-area="" asp-controller="Home" asp-action="About"><span class="glyphicon glyphicon-map-marker"></span> About</a></li>
                    }

                </ul>
            </div>
        </div>
    </nav>

    <partial name="_CookieConsentPartial" />

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - MovieLand</p>
        </footer>
    </div>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
    @RenderSection("Css", required: false)
</body>
</html>
