@model IEnumerable<MovieLand.Models.Movie>

@{
    ViewData["Title"] = "Index";
}
<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />   
</head>
<h2>Games</h2>


<p>
    @if (User.IsInRole("Administrator"))
    {
        <a asp-action="Create">Add New Game</a>
    }
</p>

<div class="form-actions no-color">
    <p>
        Price:
        <!--search by price: populating the drop down list dynamicaly-->
        @Html.DropDownList("priceSearch", new SelectList(ViewBag.priceCategory, "Price"), "Any", new { @class="dropdown" })

        Genre:
        <!--search by genre: populating the drop down list dynamicaly-->
        @Html.DropDownList("genreSearch", new SelectList(ViewBag.genres, "Genre"), "Any", new { @class="dropdown" })

        Company:
        <!--search by company: populating the drop down list dynamicaly-->
        @Html.DropDownList("companySearch", new SelectList(ViewBag.companies, "PublisherCompany"), "Any", new { @class="dropdown" })

       |
        <a asp-action="Index">Back to Full List</a>
    </p>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.movieID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.movieName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.director)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.genre)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.movieID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.movieName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.director)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.genre)
                </td>
                <td>
                    <a asp-action="Buy" asp-route-id="@item.movieID">Buy</a> |
                    <a asp-action="Details" asp-route-id="@item.movieID">Details</a>
                    @if (User.IsInRole("Administrator"))
                    {
                        <i> | </i>
                        <a asp-action="Edit" asp-route-id="@item.movieID">Edit</a>
                        <i> | </i>
                        <a asp-action="Delete" asp-route-id="@item.movieID">Delete</a>
                
                    }
                </td>
            </tr>
        }
    </tbody>
</table>



@section Scripts
{
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script>
        $("select.dropdown").change(function(){
            
            var priceOption = $('#priceSearch').find(":selected").text(); //this is the selcted price drop dwon value
            var genreOption = $('#genreSearch').find(":selected").text(); //this is the selected genre drop down value
            var companyOption = $('#companySearch').find(":selected").text(); //this is the selected company dwon value

            $.ajax({
                url: "Game/search", // use the result function which return a list of objects from query result in controller
                type: "get", //send it through get method
                data: {
                    priceSearch: priceOption,
                    genreSearch: genreOption,
                    companySearch: companyOption
                },
                success: function (response) {
                    var result = '';
                    // checks if user is admin for later displays
                    var isAdmin = '@User.IsInRole("Administrator")';
                    // if the reponse is empty display an empty table (in case no games match the filter)
                    if (response == '') {
                        result = " "                           
                        $('tbody').html(result);
                    }  
                    // table body
                    $.each(response, function (key, value) {
                        result +=
                            '<tr>' +
                            '<td>' + value.gameID + '</td>' +
                            '<td>' + value.gameName + '</td>' +
                            '<td>' + value.price + '</td>' +
                            '<td>' + value.publisherCompany + '</td>' +
                            '<td>' + value.genre + '</td>' +
                            '<td>' +
                            '<a href="/Game/Buy/' + value.gameID + '">Buy</a> | ' +
                            '<a href="/Game/Details/' + value.gameID + '">Details</a>' 
                        if (isAdmin=='True')
                        {
                            result +=  
                                ' | <a href="/Game/Edit/' + value.gameID + '">Edit</a> | ' +
                                '<a href="/Game/Delete/' + value.gameID + '">Delete</a>' 
                            
                        }
                        result += 
                            '</td>' +
                            '</tr>'

                        $('tbody').html(result);
                    });
                },
                error: function (xhr) {
                    alert("get reuquest error")
                }
            });
        });

    </script>
}
