@model MovieLand.Models.Customer

@{
    ViewData["Title"] = "Delete";
}
<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />   
</head>
<h2>Delete Customer</h2>

<h4>Are You Sure You Want To Delete This Record? All His Orders Will Be Deleted!</h4>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Username)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Username)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Country)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Country)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.City)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.City)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Street)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Street)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Age)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Age)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Gender)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Gender)
        </dd>
    </dl>
    <dt>
        @Html.DisplayNameFor(model => model.Orders)
    </dt>
    <dd>
        <table class="table">
            <tr>
                <th>Ordered Game</th>
                <th>Price</th>
            </tr>
            @if (Model.Orders != null)
            {
                @foreach (var item in Model.Orders)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.OrderedMovie.movieName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.OrderedMovie.price)
                        </td>
                    </tr>
                }
            }

        </table>
    </dd>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Username" />
        <input type="submit" value="Delete" class="btn btn-default" />
        @if (User.IsInRole("Administrator"))
        {
            <a asp-action="Index">Back to List</a>
        }

    </form>
</div>
