@model IEnumerable<MovieLand.Models.Company>

@{
    ViewData["Title"] = "Index";
}

<h2>Companies</h2>
<p>
    <a asp-action="Create">Add New Company</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CompanyName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Headquarters)
            </th>           
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CompanyName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Headquarters)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.CompanyID">Edit</a> |                   
                    <a asp-action="Delete" asp-route-id="@item.CompanyID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
