@model IEnumerable<MovieLand.Models.Movie>

@{
    ViewData["Title"] = "Index";
}
<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />   
</head>
<h2>Movies</h2>



<p>
    @if (User.IsInRole("Administrator"))
    {
        <a asp-action="Create">Add New Movie</a>
    }
</p>

<div class="form-actions no-color">
    <p>
        Price:
        <!--search by price: populating the drop down list dynamicaly-->
        @Html.DropDownList("priceSearch", new SelectList(ViewBag.priceCategory, "Price"), "Any", new { @class = "dropdown" })

        Genre:
        <!--search by genre: populating the drop down list dynamicaly-->
        @Html.DropDownList("genreSearch", new SelectList(ViewBag.genres, "Genre"), "Any", new { @class = "dropdown" })

        Director:
        <!--search by director: populating the drop down list dynamicaly-->
        @Html.DropDownList("directorSearch", new SelectList(ViewBag.directors, "Director"), "Any", new { @class = "dropdown" })

        Year:
        <!--search by year: populating the drop down list dynamicaly-->
        @Html.DropDownList("yearSearch", new SelectList(ViewBag.yearCategory, "Year"), "Any", new { @class = "dropdown" })

        IMDB Rating:
        @Html.DropDownList("ratingSearch", new SelectList(ViewBag.ratings, "IMDB Rating"), "Any", new { @class = "dropdown" })

        <!--search by year: populating the drop down list dynamicaly-->
        |
        <a asp-action="Index">Back to Full List</a>
    </p>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MovieID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MovieName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Director)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Genre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Year)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rating)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MovieID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MovieName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Director)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Genre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Year)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rating)
            </td>
            <td>
                <a asp-action="Buy" asp-route-id="@item.MovieID">Buy</a> |
                <a asp-action="Details" asp-route-id="@item.MovieID">Details</a>
                @if (User.IsInRole("Administrator"))
                {
                    <i> | </i>
                    <a asp-action="Edit" asp-route-id="@item.MovieID">Edit</a>
                    <i> | </i>
                    <a asp-action="Delete" asp-route-id="@item.MovieID">Delete</a>

                }
            </td>
        </tr>
        }
    </tbody>
</table>



@section Scripts
{
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script>
        $("select.dropdown").change(function(){

            var priceOption = $('#priceSearch').find(":selected").text(); //this is the selcted price drop dwon value
            var genreOption = $('#genreSearch').find(":selected").text(); //this is the selected genre drop down value
            var directorOption = $('#directorSearch').find(":selected").text(); //this is the selected company dwon value
            var yearOption = $('#yearSearch').find(":selected").text(); //this is the selected company dwon value
            var ratingOption = $('#ratingSearch').find(":selected").text(); //this is the selected company dwon value

            $.ajax({
                url: "Movie/search", // use the result function which return a list of objects from query result in controller
                type: "get", //send it through get method
                data: {
                    priceSearch: priceOption,
                    genreSearch: genreOption,
                    directorSearch: directorOption,
                    yearSearch: yearOption,
                    ratingSearch: ratingOption
                },
                success: function (response) {
                    var result = '';
                    // checks if user is admin for later displays
                    var isAdmin = '@User.IsInRole("Administrator")';
                    // if the reponse is empty display an empty table (in case no movies match the filter)
                    if (response == '') {
                        result = " "
                        $('tbody').html(result);
                    }
                    // table body
                    $.each(response, function (key, value) {
                        result +=
                            '<tr>' +
                            '<td>' + value.movieID + '</td>' +
                            '<td>' + value.movieName + '</td>' +
                            '<td>' + value.price + '</td>' +
                            '<td>' + value.director + '</td>' +
                            '<td>' + value.genre + '</td>' +
                            '<td>' + value.year + '</td>' +
                            '<td>' + value.rating + '</td>' +

                            '<td>' +
                            '<a href="/Movie/Buy/' + value.movieID + '">Buy</a> | ' +
                            '<a href="/Movie/Details/' + value.movieID + '">Details</a>'
                        if (isAdmin=='True')
                        {
                            result +=
                                ' | <a href="/Movie/Edit/' + value.movieID + '">Edit</a> | ' +
                                '<a href="/Movie/Delete/' + value.movieID + '">Delete</a>'

                        }
                        result +=
                            '</td>' +
                            '</tr>'

                        $('tbody').html(result);
                    });
                },
                error: function (xhr) {
                    alert("get reuquest error")
                }
            });
        });

    </script>
}
